<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title; %></title>
  </head>
  <body>
    <form method="post" action="/notes">
      Add your note
      <input name="textField" />
      <button type="submit">Add</button>
    </form>
    Notes
    <ul>
      <% notes.forEach(function(note){ %>
      <li>
        <%= note.text %>
        <form method="post" action="/notes/<%= note.id%>?_method=DELETE">
          <button type="submit">delete</button>
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
